 # conda create -p venv python=3.11
jupyter
python-dotenv
pypdf
torch --index-url https://download.pytorch.org/whl/cu118
llama-index
llama-index-llms-huggingface
llama-index-embeddings-huggingface
llama-index-embeddings-huggingface-api
